{% extends 'base.html' %}
{% block title %}Ответить{% endblock %}
{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url "poll_detail" poll.pk %}">Назад</a></li>
{% endblock %}
{% block content %}
    <h1 class="text-center my-3">{{ poll.question }}</h1>
    <form action="{% url 'poll_answer' poll.pk %}" method="POST">
        {% csrf_token %}
        {% for choice in poll.choices.all %}
            <div>
                <input id="choice_{{ choice.pk }}" type="radio" name="choice_pk" value="{{ choice.pk }}"
                       {% if forloop.first %}checked{% endif %}>
                <label for="choice_{{ choice.pk }}">{{ choice.text }}</label>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
{% endblock %}
