{% extends 'base.html' %}
{% block title %}Статистика{% endblock %}
{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url "poll_detail" poll.pk %}">Назад</a></li>
{% endblock %}
{% block content %}
    <h1 class="text-center my-3">{{ poll.question }}</h1>
    <ul style="list-style: none">
        {% for result in results %}
            <li class="clearfix border-bottom">
                <span class="mr-2" style="
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    border: solid 1px black;
                    background-color: {{ result.color }};
                    box-sizing: border-box;
                "></span>
                {{ result.text }} - {{ result.count }} ({{ result.percent }}%)
            </li>
        {% endfor %}

        <div class="mt-3" style="font-size: 0">
            {% for result in results %}
                {% if result.percent %}
                    <div style="
                            width: {{ result.percent }}%;
                            background-color: {{ result.color }};
                            height: 50px;
                            border: solid 1px black;
                            display: inline-block;
                            box-sizing: border-box;
                            "></div>
                {% endif %}
            {% endfor %}
        </div>
    </ul>
{% endblock %}
