{% load widget_tweaks %}
{% csrf_token %}
{% for error in form.non_field_errors %}
    <p class="text-danger">{{ error }}</p>
{% endfor %}
{% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}
        {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
    </div>
    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
{% endfor %}
