{% if is_paginated %}
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="?page=1" tabindex="-1">В начало</a></li>
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a>
            </li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Назад</a></li>
        {% endif %}
        <li class="page-item">
            <form action="" method="get" class="form-inline">
                <label for="page_number" class="page-link" >
                    Страница <input class="form-control form-control-sm mx-1" type="text" name="page"
                                    value="{{ page_obj.number }}" id="page_number">
                    из {{ paginator.num_pages }}
                </label>
            </form>
        </li>
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперёд</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Вперёд</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">В конец</a></li>
    </ul>
{% endif %}
