{% extends 'base.html' %}
{% block title %}Добавить опрос{% endblock %}
{% block content %}
    <h1 class="text-center my-3">Добавить опрос</h1>
    <form action="{% url 'poll_create' %}" method="POST">
        {% include 'partial/form.html' with button_text='Сохранить' %}
    </form>
{% endblock %}
