{% extends 'base.html' %}
{% block title %}Удалить опрос{% endblock %}
{% block content %}
        <h1 class="text-center my-3">Удалить опрос</h1>
        <p class="text-center">Вы уверены, что хотите удалить опрос {{ poll }}?</p>
        <form action="{% url 'poll_delete' poll.pk %}" method="POST" class="text-center">
            {% csrf_token %}
            <input type="submit" value="Да" class="btn btn-danger">
            <a href="{% url "index" %}" class="btn btn-dark ml-3">Нет</a>
        </form>
{% endblock %}
