{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center my-3">Опросы</h1>
    {% include 'partial/pagination.html' %}
    {% for poll in polls %}
        <div class="card w-75 text-center my-3 mx-auto">
            <div class="card-body">
                <h5 class="card-title">{{ poll.question }}</h5>
                <h6 class="card-subtitle text-muted mb-2">{{ poll.created_at|date:"d.m.Y H:i:s" }}</h6>
                <a href="{% url "poll_detail" poll.pk %}" class="card-link">Просмотр</a>
                <a href="{% url "poll_update" poll.pk %}" class="card-link">Редактировать</a>
                <a href="{% url "poll_delete" poll.pk %}" class="card-link">Удалить</a>
                <a href="{% url "poll_answer" poll.pk %}" class="card-link">Пройти</a>
                <a href="{% url "poll_stats" poll.pk %}" class="card-link">Результаты</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
