{% extends 'base.html' %}
{% block title %}{{ poll.question }}{% endblock %}
{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url "poll_update" poll.pk %}">Редактировать</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url "poll_delete" poll.pk %}">Удалить</a></li>
{% endblock %}
{% block content %}
    <h1 class="text-center my-3">{{ poll.question }}</h1>
    <p class="text-center text-muted">Создано {{ poll.created_at|date:"d.m.Y H:i:s" }}</p>
    <div class="text-center"><a href="{% url "poll_answer" poll.pk %}">Пройти опрос</a></div>
    <div class="text-center"><a href="{% url "poll_stats" poll.pk %}">Посмотреть результаты</a></div>
    <ul>
        {% for choice in poll.choices.all %}
            <li class="clearfix border-bottom">
                {{ choice.text }}
                <span class="float-right">
                    <a href="{% url "choice_update" choice.pk %}">Поменять</a>
                    <a href="{% url "choice_delete" choice.pk %}">Удалить</a>
                </span>
            </li>
        {% endfor %}
    </ul>
    <p class="text-center"><a href="{% url "choice_create" poll.pk %}">Добавить вариант</a></p>
{% endblock %}
