{% extends 'base.html' %}
{% block title %}Поменять опрос{% endblock %}
{% block content %}
    <h1 class="text-center my-3">Поменять опрос</h1>
    <form action="{% url 'poll_update' poll.pk %}" method="POST">
        {% include 'partial/form.html' with button_text='Сохранить' %}
    </form>
{% endblock %}
