{% extends 'base.html' %}
{% block title %}Добавить вариант ответа{% endblock %}
{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url "poll_detail" poll.pk %}">Назад</a></li>
{% endblock %}
{% block content %}
    <h1 class="text-center my-3">Добавить вариант ответа</h1>
    <p>Опрос: {{ poll }}</p>
    <form action="{% url 'choice_create' poll.pk %}" method="POST">
        {% include 'partial/form.html' with button_text='Сохранить' %}
    </form>
{% endblock %}
