{% extends 'base.html' %}
{% block title %}Удалить вариант ответа{% endblock %}
{% block content %}
        <h1 class="text-center my-3">Удалить вариант ответа</h1>
        <p class="text-center">Вы уверены, что хотите удалить вариант ответа {{ choice }} из опроса {{ choice.poll }}?</p>
        <form action="{% url 'choice_delete' choice.pk %}" method="POST" class="text-center">
            {% csrf_token %}
            <input type="submit" value="Да" class="btn btn-danger">
            <a href="{% url "poll_detail" choice.poll.pk %}" class="btn btn-dark ml-3">Нет</a>
        </form>
{% endblock %}
