{% extends 'base.html' %}
{% block title %}Поменять вариант ответа{% endblock %}
{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url "poll_detail" choice.poll.pk %}">Назад</a></li>
{% endblock %}
{% block content %}
    <h1 class="text-center my-3">Поменять вариант ответа</h1>
    <p>Опрос: {{ choice.poll }}</p>
    <form action="{% url 'choice_update' choice.pk %}" method="POST">
        {% include 'partial/form.html' with button_text='Сохранить' %}
    </form>
{% endblock %}
